body {
  font-family: Roboto, sans-serif;

}

.app-bar {
  /* display: flex;
  align-content: start; */
  /* margin-top: 0px; */
  width: 1440px;
  height: 80px;
}

.wlcm {
  display: flex;
  justify-content: center;
  padding: 250px;
  font-size: 46px;
  font-weight: 400px;
  color: #4F4F4F;
}

.spiner {
  display: flex;
  justify-content: center;
  padding: 250px;
  size: 250px;
}

.err {
  display: flex;
  justify-content: center;
  padding: 250px;
  font-size: 46px;
  font-weight: 400px;
  color: #4F4F4F;
}

.empt-des {
  display: flex;
  justify-content: center;
  font-size: 25px;
  padding-top: 400px;
  color: #4F4F4F;

}

div.search {
  /* width: 200px; */
  margin: 80px 0px 0px 10px;
  display: flex;
  justify-content: space-between;
  /* align-items: stretch; */
  /* margin-left: 10px; */
}

.table {
  height: 570px;
  /* overflow-x: auto; */
  width: 912px;

}

.result-text {
  font-size: 36px;
  font-weight: 400px;
  color: #4F4F4F;
}


.info {
  display: flex;
  justify-content: space-between;
}

.strs {
  display: flex;
  flex-direction: row;
}

.str-count {
  padding: 2px 4px;
}

.license {
  display: flex;
  justify-self: start;
  color: #333;
}

.table {
  display: flex;
  justify-content: left;
  padding-top: 10px;
}

.description {
  /* background: #F2F2F2; */
  width: 480px;
  /* padding: 0px; */
  /* height: auto; */
  /* background-color: gray; */
}

.dis-txt {
  color: #333;
  text-align: center;
  /* font-family: Georgia, "Times New Roman"; */

}