div.search {
  /* width: 200px; */
  display: flex;
  justify-content: space-between;
}

/* div.result {
  display: flex;
  align-items: spa;
} */

.table {
  display: flex;
  justify-content: left;
  padding-top: 10px;
}

.description {
  background: #F2F2F2;
  width: 480px;
  height: auto;


}