body {
  font-family: Roboto, sans-serif;

}

div.search {
  /* width: 200px; */
  display: flex;
  justify-content: space-between;
}

/* div.result {
  display: flex;
  align-items: spa;
} */

.table {
  display: flex;
  justify-content: left;
  padding-top: 10px;
}

.description {
  /* background: #F2F2F2; */
  width: 480px;
  height: auto;
}

.dis-txt {
  color: #333;
  text-align: center;
  /* font-family: Georgia, "Times New Roman"; */

}